# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# node_modules do frontend
/frontend/node_modules/

# build do React
frontend/build/

# Python __pycache__
/backend/__pycache__/

# Ambiente virtual
/venv/

# VSCode settings
.vscode/

# Arquivos .env
.env